body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Center content vertically */
  height: 100vh;
  margin: 0;
  background-color: lightblue;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 4px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #fff;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #e0e0e0;
}

.winner-cell {
  background-color: #7eff7e;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
